<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1" />

    <!-- Include bootstrap (can be dragged from solution explorer). -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <title>Project Name</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Project Name</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <!-- ActionLink takes the following arguments: link text, action method, controller, routevalues (here null), can add attributes -->
                        <li class="nav-item">
                            @Html.ActionLink("Add Page", "Add", "Post",
                                new { title = "Go to the add page." },
                                new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Display Page", "Display", "Post",
                                new { title = "Go to the display page." },
                                new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Edit Page", "Edit", "Post",
                                new { title = "Go to the edit page." },
                                new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Delete Page", "Delete", "Post",
                                new { title = "Go to the delete page." },
                                new { @class = "nav-link" })
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <!-- RenderBody() is used to place the view within the template -->
        @RenderBody()
    </main>
    <footer>
        <small>This is the footer.</small>
    </footer>
</body>
</html>