<!-- _ViewStart.cshtml contains the boilerplate to be used for all views. -->
<!-- Define the model to be used in this view -->
@model Session05ArchitectureMVC.Models.Post

<article>
    <h2>Add data to the Model</h2>
    @using (Html.BeginForm())
    {
        <table class="table">
            <!-- This is written in the HTML Helper syntax -->
            <tr>
                <th>@Html.LabelFor(m => m.Id)</th>
                <td>@Html.EditorFor(m => m.Id)</td>
            </tr>
            <tr>
                <th>@Html.LabelFor(m => m.title)</th>
                <td>@Html.EditorFor(m => m.title)</td>
            </tr>
            <tr>
                <th>@Html.LabelFor(m => m.newsContent)</th>
                <td>@Html.EditorFor(m => m.newsContent)</td>
            </tr>
            <tr>
                <th>@Html.LabelFor(m => m.publishedBy)</th>
                <td>@Html.EditorFor(m => m.publishedBy)</td>
            </tr>
            <tr>
                <th>@Html.LabelFor(m => m.publishedOn)</th>
                <td>@Html.EditorFor(m => m.publishedOn)</td>
            </tr>
        </table>
        <button type="submit" class="btn btn-primary">Add</button>
    }
</article>
