<!-- _ViewStart.cshtml contains the boilerplate to be used for all views. -->
<!-- Define the model to be used in this view -->
@model IEnumerable<Session05ArchitectureMVC.Models.Post>

<article>
    <h2>Display data from the Model</h2>
    <table class="table">
        <!-- This is written in the HTML Helper syntax -->
        <tr>
            <th>@Html.DisplayNameFor(m => m.Id)</th>
            <th>@Html.DisplayNameFor(m => m.title)</th>
            <th>@Html.DisplayNameFor(m => m.newsContent)</th>
            <th>@Html.DisplayNameFor(m => m.publishedBy)</th>
            <th>@Html.DisplayNameFor(m => m.publishedOn)</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.title</td>
                <td>@item.newsContent</td>
                <td>@item.publishedBy</td>
                <td>@item.publishedOn</td>
                @* Add a links to edit and delete items. The links point to the 
                   corresponding action method in the Post controller and passes
                   the Id. *@
                <td>@Html.ActionLink("Edit", "Edit", "Post", new { @id = item.Id })</td>
                <td>@Html.ActionLink("Delete", "Delete", "Post", new { @id = item.Id })</td>
            </tr>

        }
    </table>
</article>