@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h1>System Roles</h1>
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Id)</th>
                <th>@Html.DisplayNameFor(m => m.Name)</th>
                <th>Actions</th>
            </tr>
        </thead>

        @foreach (var v in Model)
        {
            <tr>
                <td>@v.Id</td>
                <td>@v.Name</td>
                <td>@Html.ActionLink("Delete", "Delete", new { roleId = v.Id })</td>
            </tr>
        }
    </table>
</div>